doctype html
html
  head
    title Sistema HIS
  body
    h1 Bienvenido al Sistema HIS
    ul
      li: a(href="/pacientes/nuevo") Registrar nuevo paciente
      li: a(href="/admisiones/nueva") Nueva admisión