doctype html
html
  head
    title Sistema HIS
    meta(charset="utf-8")
    link(rel="stylesheet", href="/estilos.css")
  body
    header
      h1 Sistema de Gestión Hospitalaria
      nav
        ul
          li: a(href="/") Inicio
          li: a(href="/paciente") Pacientes
          li: a(href="/admision") Admisiones
    main
      block content

