doctype html
html
  head
    title Sistema de Gestión Hospitalaria
    link(rel='stylesheet', href='/estilos.css') 
  body
    header
      h1 Sistema de Gestión Hospitalaria
      nav
        ul
          li: a(href='/') Inicio
          li: a(href='/paciente/nuevo') Registrar nuevo paciente
          li: a(href='/paciente') Pacientes
          li: a(href='/admision/nueva') Nueva admisión
          li: a(href='/admision') Admisiones
    main
      block content
