doctype html
html
  head
    title Sistema de Gesti贸n Hospitalaria
    link(rel='stylesheet', href='/estilos.css') 
  body
    header
      h1 Sistema de Gesti贸n Hospitalaria
      nav
  ul
    li: a(href='/') Inicio
    li
      strong Pacientes
      ul
        li: a(href='/paciente') Ver pacientes
        li: a(href='/paciente/nuevo') Registrar paciente
    li
      strong Admisiones
      ul
        li: a(href='/admision') Ver admisiones
        li: a(href='/admision/nueva') Nueva admisi贸n
    li
      strong Infraestructura
      ul
        li: a(href='/habitacion') Ver habitaciones
        li: a(href='/habitacion/nueva') Crear habitaci贸n
        li: a(href='/cama') Ver camas
        li: a(href='/cama/nueva') Crear cama

    main
      block content
